body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  color: #333232;
  line-height: 1.4;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h5{
	margin: 0;
}

.intro{
    width: 100%;
    
    background: url(images/intro.png) center no-repeat;
    background-size: cover;
}

.container{
    font-size: 30px;
    text-align: center;
    padding-right: 450px;
    padding-top: 300px;
    color: #00AEEA;
}

.main{
    padding-top: 10px;
    padding-left: 10px;
    background-color: #2259f0;
}

.box{
    border: 2px solid black;
    width: 200px;
    background-color: #00fff2;
}

.image_box{
    width: auto;
    height: 100vh;
    height: 400px;
    background: url(images/1.jpg) center no-repeat;
}

.text_box{
    color: blue;
    text-align: center;
}

@media (max-width: 900px) {
    .intro{
        width: 100%;
        
    }
    .container{
        font-size: 25px;
    }
}
.f14 { 
    color: red; /* Красный цвет символов */ 
    font-family: serif; /* Шрифт с засечками */ 
   }